a.collapseTopics {
    display: none;
}
a.documentLink {
    margin-left: 2em;
}
a.collapseVolumes {
    display: none;
}
a.collapseDocuments {
    display: none;
}
button {
    display: none;
}
div.section {
    display: none;
}
div.volume {
    display: none;
}
span.sectionTitle {
    font-weight: bold;
}
span.volumeTitle {
    margin-left: 1em;
}
table.documentTopics {
    margin-left: 2em;
    font-size: small;
}