div.token {
    float: left;
    padding-right: 0.25em;
}
td.weight div.proportion {
    background-color: rgb(51,153,255);
    text-align: right;
}
td.weight div.proportion span.proportion {
    color: rgba(0,0,0,0);
}

a.documentLink {
    margin-left: 1em;
}
div.volume {
    display: none;
}
a.collapseDocuments {
    display: none;
    margin-left: 1em;
}
a.expandDocuments {
    margin-left: 1em;
}
span.parameter {
    display: none;
    visibility: hidden;
}
span.sectionTitle {
    font-weight: bold;
}
table.documentTopics {
    margin-left: 1em;
    font-size: small;
}