span.collapseButton {
    display: none;
}
div.volume {
    display: none;
}
div.token {
    float: left;
    padding-right: 0.25em;
}
span.parameter {
    display: none;
    visibility: hidden;
}
td.weight div.proportion {
    background-color: rgb(51,153,255);
    text-align: right;
}
td.weight div.proportion span.proportion {
    color: rgba(0,0,0,0);
}