<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="@{|Document ${document.title}|}">Document banana_cake.txt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h2>
    Document
    <span id="author" th:if="${document.author != null}" th:text="@{|${document.author}: |}">Hinz Kunz: </span>
    <span id="title" th:text="${document.title}">banana_cake.txt</span>
    <span id="volume" th:if="${document.volume != null}" th:text="@{| (${document.volume})|}">(Chapter 1)</span>
</h2>
<span class="parameter" id="corpusName" th:text="${document.corpusName}"/>
<span class="parameter" id="numberOfTopics" th:text="${document.numberOfTopics}">25</span>
<span class="parameter" id="timestamp" th:text="${document.timestamp}">2017-12-16</span>

<div id="documentTopics">
    <h3>Topics</h3>
    <table id="documentTopicsTable"></table>
</div>

<div id="documentContent">
    <h3>Content (Topic Ids in Brackets)</h3>
    <div class="tokens">
        <div class="token" th:each="token : ${document.tokens}">
            <span th:if="${token.stopToken}"
                  th:class="stopToken"
                  th:text="@{|${token.word.lemma}|}">that</span>
            <span th:if="${!token.stopToken}"
                  th:class="contentToken"
                  th:id="${token.topic.topicId}"
                  th:text="@{|${token.word.lemma}|}">banana</span>
            <!--<span th:if="${!token.stopToken}" th:text="@{|(${token.topic.topicId})|}">(0)</span>-->
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v4.min.js" type="text/javascript" charset="utf-8" />
<script src="/js/util.js" th:href="@{/js/util.js}" type="text/javascript" charset="utf-8" />
<script src="/js/document.js" th:href="@{/js/document.js}" type="text/javascript" charset="utf-8" />
</body>
</html>