<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, User!'" />
You can explore one of the following topic models
<ul>
    <li>
        <a th:href="@{|/corpus/${toyUUID}/numberOfTopics/3/topic|}">Hard coded toy model</a>
    </li>
</ul>
<ul th:each="model: ${models}">
    <li>
        <a th:text="Model with ${model.numberOfTopics} topics estimated from corpus ${model.corpus.name}"
           th:href="@{|/model.uuid/topic|}">
            Model with 10 topics estimated from corpus toy.txt
        </a>
    </li>
</ul>
Or create a new one with one of the available corpora
<ul>
    <li>
        TODO
    </li>
</ul>
</body>
</html>