<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="header"></head>
<body>

<div class="container" id="mainContent">

    <div class="col-md-4">
        <div layout:fragment="sidebar">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div layout:fragment="content">
            </div>
        </div>
    </div>
</div>

</body>
</html>