<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Topics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" href="/css/lda.css" th:href="@{/css/lda.css}" rel="stylesheet"/>
</head>
<body>
<a href="/">Home</a>
<span class="parameter" id="corpusName" th:text="${corpusName}"/>
<span class="parameter" id="numberOfTopics" th:text="${numberOfTopics}">25</span>
<span class="parameter" id="timestamp" th:text="${timestamp}">2017-12-16</span>
<div id="topics">
    <h2>Topics</h2>
    <table>
        <tr th:each="topic : ${topics}">
            <td>
                <a th:text="${topic.topicId}"
                   th:href="@{|/corpus/${corpusName}/numberOfTopics/${numberOfTopics}/timestamp/${timestamp}/topic/${topic.topicId}|}">
                    0
                </a>
            </td>
            <td th:text="${topic.topWordsSignature}">banana apple pie cake boost</td>
        </tr>
    </table>
</div>
<div id="documents">
    <h2>Documents</h2>
    <div class="section" th:each="section : ${sections}">
        <span class="sectionTitle" th:text="${section.title}">Section 1</span>
        <div class="volumes" th:each="volume : ${section.volumes}">
            <span class="expandVolumeTitle" th:id="@{|expandVolumeTitle_${volume.title}|}" th:text="${volume.title}">Volume 1</span>
            <span class="collapseVolumeTitle" th:id="@{|collapseVolumeTitle_${volume.title}|}" th:text="${volume.title}">Volume 1</span>
            <div class="volume" th:id="@{|volume_${volume.title}|}">
                <table>
                    <tr class="document" th:each="document : ${volume.documents}">
                        <td>
                            <a class="documentLink" th:text="${document.title}"
                               th:href="@{|/corpus/${corpusName}/numberOfTopics/${numberOfTopics}/timestamp/${timestamp}/document/${document.title}|}">
                                Document 1
                            </a>
                            <span class="topicsButton" th:id="@{|topicsButton_${document.title}|}">+</span>
                            <table class="documentTopics" th:id="@{|${document.title}Table|}"></table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v4.min.js" type="text/javascript" charset="utf-8"/>
<script src="/js/util.js" th:href="@{/js/util.js}" type="text/javascript" charset="utf-8"/>
<script src="/js/lda.js" th:href="@{/js/lda.js}" type="text/javascript" charset="utf-8"/>
</body>
</html>