<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Topics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" href="/css/lda.css" th:href="@{/css/lda.css}" rel="stylesheet"/>
</head>
<body>
<a href="/">Home</a>
<span class="parameter" id="corpusName" th:text="${corpusName}"/>
<span class="parameter" id="numberOfTopics" th:text="${numberOfTopics}">25</span>
<span class="parameter" id="timestamp" th:text="${timestamp}">2017-12-16</span>
<div id="topics">
    <h2>Topics</h2>
    <table>
        <tr th:each="topic : ${topics}">
            <td>
                <a th:text="${topic.topicId}"
                   th:href="@{|/corpus/${corpusName}/numberOfTopics/${numberOfTopics}/timestamp/${timestamp}/topic/${topic.topicId}|}">
                    0
                </a>
            </td>
            <td th:text="${topic.topWordsSignature}">banana apple pie cake boost</td>
        </tr>
    </table>
</div>
<div id="documents">
    <h2>Documents</h2>
    <div class="sections" th:each="section : ${sections}">
        <span class="sectionTitle" th:text="${section.title}">Section 1</span>
        <a class="expandVolumes" th:id="@{|expandVolumes_${section.title}|}" href="javascript:void(0)">&gt;&gt;</a>
        <a class="collapseVolumes" th:id="@{|collapseVolumes_${section.title}|}" href="javascript:void(0)">&lt;&lt;</a>
        <div class="section" th:id="@{|section_${section.title}|}">
            <div class="volumes" th:each="volume : ${section.volumes}">
                <span class="volumeTitle" th:text="${volume.title}">Volume 1</span>
                <a class="expandDocuments" th:id="@{|expandDocuments_${volume.title}|}" href="javascript:void(0)">&gt;&gt;</a>
                <a class="collapseDocuments" th:id="@{|collapseDocuments_${volume.title}|}" href="javascript:void(0)">&lt;&lt;</a>
                <div class="volume" th:id="@{|volume_${volume.title}|}">
                    <table>
                        <tr class="document" th:each="documentTitle : ${volume.documentTitles}">
                            <td>
                                <a class="documentLink" th:text="${documentTitle}"
                                   th:href="@{|/corpus/${corpusName}/numberOfTopics/${numberOfTopics}/timestamp/${timestamp}/document/${documentTitle}|}">
                                    Document 1
                                </a>
                                <a class="expandTopics" th:id="@{|expandTopics_${documentTitle}|}"
                                   href="javascript:void(0)">&gt;&gt;</a>
                                <a class="collapseTopics" th:id="@{|collapseTopics_${documentTitle}|}"
                                   href="javascript:void(0)">&lt;&lt;</a>
                                <table class="documentTopics" th:id="@{|${documentTitle}Table|}"></table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v4.min.js" type="text/javascript" charset="utf-8"/>
<script src="/js/util.js" th:href="@{/js/util.js}" type="text/javascript" charset="utf-8"/>
<script src="/js/lda.js" th:href="@{/js/lda.js}" type="text/javascript" charset="utf-8"/>
</body>
</html>