<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="@{|Topic ${topic.topicId}|}">Topic 0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>Topic <span th:text="${topic.topicId}">0</span></h2>

<h3>Words</h3>
<table>
    <tr th:each="wordProbability : ${topic.topWordProbabilities}">
        <td>
            <a th:text="${wordProbability.word.lemma}"
           th:href="@{|/corpus/${corpusName}/numberOfTopics/${numberOfTopics}/word/${wordProbability.word.lemma}|}">
                banana
            </a>
        </td>
        <td th:text="${wordProbability.probability}">0.15</td>
    </tr>
</table>

<h3>Documents</h3>
<table>
    <tr th:each="documentProbability : ${topic.topDocumentProbabilities}">
        <td>
            <a th:text="${documentProbability.document.title}"
               th:href="@{|/corpus/${corpusName}/numberOfTopics/${numberOfTopics}/document/${documentProbability.document.title}|}">
                banana
            </a>
        </td>
        <td th:text="${documentProbability.probability}">0.15</td>
    </tr>
</table>

</body>
</html>