<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="@{|Topic ${topic.topicId}|}">Topic 0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<a href="/">Home</a>
<a th:href="@{|/corpus/${topic.corpusName}/numberOfTopics/${topic.numberOfTopics}/timestamp/${topic.timestamp}|}">
    Back to Overview
</a>

<h2>Topic <span id="topicId" th:text="${topic.topicId}">0</span></h2>
<span class="parameter" id="corpusName" th:text="${topic.corpusName}" />
<span class="parameter" id="numberOfTopics" th:text="${topic.numberOfTopics}">25</span>
<span class="parameter" id="timestamp" th:text="${topic.timestamp}">2017-12-16</span>

<div id="topicWords">
    <h3>Words</h3>
    <table id="topicWordsTable"></table>
</div>

<div id="topicMultiWords">
    <h3>Word Sequences</h3>
    <table id="topicMultiWordsTable"></table>
</div>

<div id="topicDocuments">
    <h3>Documents</h3>
    <table id="topicDocumentsTable"></table>
</div>

<script src="https://d3js.org/d3.v4.min.js" type="text/javascript" />
<script src="/js/util.js" th:href="@{/js/util.js}" type="text/javascript" />
<script src="/js/topic.js" th:href="@{/js/topic.js}" type="text/javascript" />
</body>
</html>