<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Topics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Topics</h2>
<table>
    <tr th:each="topic : ${topics}">
        <td>
            <a th:text="${topic.id}"
               th:href="@{|/corpus/${corpusId}/numberOfTopics/${numberOfTopics}/topic/${topic.id}|}">
                0
            </a>
        </td>
        <td th:each="topicWordProbability : ${topic.wordProbabilities}">
            <span th:text="${topicWordProbability.word.lemma}">
                banana
            </span>
        </td>
    </tr>
</table>
</body>
</html>