<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="@{|Word ${word.lemma}|}">Word banana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Word <span th:text="${word.lemma}">banana</span></h2>
<table>
    <tr th:each="topicProbability : ${word.topTopicProbabilities}">
        <td>
            <span th:text="${topicProbability.topic.id}">0</span>
            <span th:text="${topicProbability.topic.topWords}">banana kiwi plum apple fruit</span>
        </td>
        <td th:text="${topicProbability.probability}">0.15</td>
    </tr>
</table>
</body>
</html>