<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="@{|Word ${word.lemma}|}">Word banana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<a href="/">Home</a>
<a th:href="@{|/corpus/${word.corpusName}/numberOfTopics/${word.numberOfTopics}/timestamp/${word.timestamp}|}">
    Back to List Overview
</a>

<h2>Word <span id="lemma" th:text="${word.lemma}">banana</span></h2>
<span class="parameter" id="corpusName" th:text="${word.corpusName}" />
<span class="parameter" id="numberOfTopics" th:text="${word.numberOfTopics}">25</span>
<span class="parameter" id="timestamp" th:text="${word.timestamp}">2017-12-16</span>

<div id="wordTopics">
<h3>Topics</h3>
<table id="wordTopicsTable"></table>
</div>

<script src="/js/d3.min.js" type="text/javascript" charset="utf-8" />
<script src="/js/util.js" th:href="@{/js/util.js}" type="text/javascript" charset="utf-8" />
<script src="/js/word.js" th:href="@{/js/word.js}" type="text/javascript" charset="utf-8" />
</body>
</html>